body {
  background-color: blanchedalmond;
}
.container {
  display: flex;
  justify-content: center;
}
h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  color: #402d43;
  text-align: center;
}
h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  color: #402d43;
}
.btn {
  background-color: #AB7E81;
  padding: 15px;
  margin: 15px;
  border: none;
  border-radius: 10px;
  color: #402d43;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}
.showBtn {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}
p {
  color: #402d43;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}
span {
  text-decoration: underline;
}
.btn-slaider {
  background-color: blanchedalmond;
  border: none;
}
.container-slaider {
  display: flex;
}
.image-seesights {
  width: 500px;
}

@media all and (max-width: 500px) {
  .image-seesights {
    width: 250px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
}